body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
#Myb{
    font-size: large;
    background-color: greenyellow;
    font-style: oblique;
    padding: 5px 20px;
}

#mylabel{
    font-size: 2em;
}
